body {
  text-align: center;
  background-color: #011f3f;
  font-family: "Press Start 2P", cursive;
}

h1 {
  margin: 100px 0 100px 0;
  color: #fef2bf;
}

.container {
  display: flex;
  justify-content: center;
}

.square-section {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 600px;
}

.square {
  width: 220px;
  height: 220px;
  border: solid black 10px;
  border-radius: 20%;
  margin: 20px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
